In [1]:
import pandas as pd

In [4]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [84]:
df  = iris.copy()

In [44]:
df.head()#bydefault it will show 5 datas 
df.head(3)# we can also pass an arg to get the number of data

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [93]:
df.columns = ['sl','sw','pl','pw','flower_type']

In [46]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower-type     object
dtype: object

In [47]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [15]:
df.sl#df["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [17]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower-type    0
dtype: int64

In [42]:
df.iloc[100:130,1:]

      sw   pl   pw     flower-type
101  3.0  5.9  2.1  Iris-virginica
102  2.9  5.6  1.8  Iris-virginica
103  3.0  5.8  2.2  Iris-virginica
104  3.0  6.6  2.1  Iris-virginica
105  2.5  4.5  1.7  Iris-virginica
106  2.9  6.3  1.8  Iris-virginica
107  2.5  5.8  1.8  Iris-virginica
108  3.6  6.1  2.5  Iris-virginica
109  3.2  5.1  2.0  Iris-virginica
110  2.7  5.3  1.9  Iris-virginica
111  3.0  5.5  2.1  Iris-virginica
112  2.5  5.0  2.0  Iris-virginica
113  2.8  5.1  2.4  Iris-virginica
114  3.2  5.3  2.3  Iris-virginica
115  3.0  5.5  1.8  Iris-virginica
116  3.8  6.7  2.2  Iris-virginica
117  2.6  6.9  2.3  Iris-virginica
118  2.2  5.0  1.5  Iris-virginica
119  3.2  5.7  2.3  Iris-virginica
120  2.8  4.9  2.0  Iris-virginica
121  2.8  6.7  2.0  Iris-virginica
122  2.7  4.9  1.8  Iris-virginica
123  3.3  5.7  2.1  Iris-virginica
124  3.2  6.0  1.8  Iris-virginica
125  2.8  4.8  1.8  Iris-virginica
126  3.0  4.9  1.8  Iris-virginica
127  2.8  5.6  2.1  Iris-virginica
128  3.0  5.8  1.6  Iris-virginica
129  2.8  6.1  1.9  Iris-virginica
130  3.8  6.4  2.0  Iris-virginica

In [30]:
df.head()

    sl   sw   pl   pw  flower-type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [40]:
# df.drop(0) it will create a copy of that data which is removed it will not change anything in the main data 
# a = df.drop(0)
# a.head()

In [51]:
#if we want to drop from the main data then we have to pass 'inplace = True '
df.drop(0, inplace = True)
df.head()
#if we want to remove it again then it will show error as the 0th index has been erased and the indexing is same 
#here we are using label 0 there is difference in label and the position

   5.1  3.5  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [53]:
df.drop(4,inplace = True)
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [54]:
df.index

Int64Index([  1,   2,   3,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [55]:
df.index[0]# it will return the. label of the data at that position

1

In [57]:
df.index[[0,1]]

Int64Index([1, 2], dtype='int64')

In [61]:
#droping with the help of index
df.drop(df.index[[0,2]],inplace = True)
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [94]:
df[df.flower_type == 'Iris-virginica']

      sl   sw   pl   pw     flower_type
99   6.3  3.3  6.0  2.5  Iris-virginica
100  5.8  2.7  5.1  1.9  Iris-virginica
101  7.1  3.0  5.9  2.1  Iris-virginica
102  6.3  2.9  5.6  1.8  Iris-virginica
103  6.5  3.0  5.8  2.2  Iris-virginica
104  7.6  3.0  6.6  2.1  Iris-virginica
105  4.9  2.5  4.5  1.7  Iris-virginica
106  7.3  2.9  6.3  1.8  Iris-virginica
107  6.7  2.5  5.8  1.8  Iris-virginica
108  7.2  3.6  6.1  2.5  Iris-virginica
109  6.5  3.2  5.1  2.0  Iris-virginica
110  6.4  2.7  5.3  1.9  Iris-virginica
111  6.8  3.0  5.5  2.1  Iris-virginica
112  5.7  2.5  5.0  2.0  Iris-virginica
113  5.8  2.8  5.1  2.4  Iris-virginica
114  6.4  3.2  5.3  2.3  Iris-virginica
115  6.5  3.0  5.5  1.8  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
118  6.0  2.2  5.0  1.5  Iris-virginica
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [96]:
print(df.head())
print(df.iloc[0])#position
print(df.loc[8])#label

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
sl                     4.9
sw                     3.0
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 0, dtype: object
sl                     4.9
sw                     3.1
pl                     1.5
pw                     0.1
flower_type    Iris-setosa
Name: 8, dtype: object

In [97]:
#add a row
df.loc[0] = [1,2,3,4,"rose"]

In [100]:
df.head()

    sl   sw   pl   pw  flower_type
0  1.0  2.0  3.0  4.0         rose
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa